html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Chrome, Safari, Edge (Webkit-based) */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}